/**estilos generales ------------------------------------------------------------------------------------------------------------------------------------------------------
*/






a{
    text-decoration: none;
}

h2 {
    font-size:3em;
}

h3 {
    font-size: 1.2vw;
    font-weight: 800;
}

.bajada {
    padding:0;
    color: rgba(35, 36, 37);
    font-size: 1em;

}

/**landing ------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#homeImage {
    background-image: url(../imagenes/homebackground02.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    filter: opacity(90%);
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
    overflow: hidden;
    box-shadow:0 16px 32px 0 rgba(0, 0, 0, 0.2);
    
}

#fondoHome {
    z-index: -999;
    background-color: rgba(0, 0, 0, 0.705);
    height: 100vh;
    grid-row: 1 / 6;
    grid-column: 1 / 6;

}

#homeImage h1 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.5em;
    grid-column: 2 / 4;
    grid-row: 1/4;
    z-index: 10;
    align-self: center;
    text-shadow:rgb(0, 0, 0) 5px 5px 10px; 
    margin-top: 1em;

}


#homeImage .bajada {
    color: rgb(255, 255, 255);
    font-size: 2em;
}

#imagenPresentacion {
    grid-column: 3 / 5;
    grid-row: 1 / 6;
    width: 90%;
    overflow: hidden;
    justify-self: flex-end;
    align-self: center;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    border: .07em solid white;
}

#imagenPresentacion img{
    max-width: 100%;
    border-radius: 100%;
    border: .15em solid white;

}

#textoPresentacion {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    z-index: 20;
    color: white;
    border-left: .2em solid white;
    padding-left: 2em;
    align-self: center;
    padding-bottom: 2em;
  width: 100%;
  margin: 1em auto;
}

#textoPresentacion h3{
    font-family: 'MonumentExtended', 'Saira', sans-serif;
    color: white;
    font-size: 2em;
}
#textoPresentacion p{
   padding-top: 1.4em;
}

#compraEntrada {
    color: white;
    font-size: 1em; 
    display: block;
    background-image: url(../imagenes/iconoentrada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .6s linear;
    position: fixed;
    bottom: 3em;
    left: 5em;
    z-index: 999;
    
 }
 #compraEntrada a{
    color: white;
    z-index: 99;
    font-size: 1em; 
    display: block;
    text-align: center;
    margin: auto;
    padding: 3em 3.5em 3.5em 3.5em;
    line-height: 1.2em;
 
 }

 #compraEntrada:hover {
transform:rotate(360deg) scale(1.2);

 }



/**body ------------------------------------------------------------------------------------------------------------------------------------------------------
*/


section p{
    margin: 2em 0;
    line-height: 2em;
 }


/** home ------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.animacionImagenes {
    overflow: hidden;
   
   }
   .animacionImagenes:hover img{
       transition: 0.5s all ease-in-out;
   
   }
   
   .animacionImagenes:hover img{
       transform: scale(1.2); 
   }
   

section {
    margin: 0 10% 0 10%;
    max-width: 100vw;
     padding-top: 7em;
    padding-bottom: 4em;
}

.gridDestacadas {
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: 6% 22% 22% 6% 22% 22%;
}

.contenedorDestacadas {
    grid-column: 1/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.contenedorDestacadasDos {
    grid-column: 2/6;
    grid-row: 5/7;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flip-card {
    background-color: transparent;
    width: 33.33333%;
    height: 100%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  
  .flip-card-back {
    background-color:rgb(35, 36, 37);
    color: white;
    text-align: center;
    padding: 3rem 2rem;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.flip-card-front img {
    max-width: 100%;
}
  .tituloActividad {
    font-family:'IBM Plex Mono', monospace;
    border-top: solid white .07em;
    border-bottom: solid white .07em;
    padding: .7em 0;
  }

  .textoActividad {
      font-size: .9em;
      padding: 0;
      margin: 0;
  }

  .estrellaBlanca {
    background-image: url("../imagenes/estrellablanca.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1.2em;
  }

  .datosActividad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: .02em solid white;
    border-bottom: .02em solid white;
    font-family:'IBM Plex Mono', monospace;
  }
  .datosActividad p{
    font-size: .9em;
    font-family:'IBM Plex Mono', monospace;
    padding: .2em 0;
    margin: 0;

  }




#numeroCorteUno {
    align-self: flex-start;
    justify-self: flex-end;
    grid-column: 4 / 6;
    grid-row: 2/4;
    font-size: 15em;
    overflow: hidden;
    z-index: -9;
    color: rgba(0, 0, 0, 0.041);
    font-family:'IBM Plex Mono', monospace;
}

#numeroCorteDos {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    font-size: 15em;
    overflow: hidden;
    justify-self: flex-start;
    align-self: flex-start;
    z-index: -9;
    color: rgba(0, 0, 0, 0.041);
    font-family:'IBM Plex Mono', monospace;
}

#asideDos {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    align-self: flex-end;
}
#asideUno {
    grid-column: 5 / 6;
    grid-row: 2 / 4;
    align-self: flex-end;
}

#asideUno ul, #asideDos ul{
    margin: 0;
}
.masInfo {
    max-width: 80%;
   }

#resumenActividadesSection {
margin: 0;
background-color:rgba(35, 36, 37);
padding: 7em 0;

}

#resumenActividadesSection #actividadesHome, #resumenActividadesSection .subtitulos {
  color: white;
  margin-left: 10%;
    }

#resumenActividadesSection .subtitulos h2 {
    color: white;
}


#resumenActividades {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 4em 10%;
}





.actividadesDestacadasUno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.actividadesDestacadasUno div {
    width: 33.3%;
}
.actividadesDestacadasUno div img {
    max-width: 100%;
}

.actividadesDestacadasDos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.actividadesDestacadasDos div {
    width: 33.3%;

}
.actividadesDestacadasDos div img {
    max-width: 100%;
}


.elFestivalHome {
    margin: 0;
    margin-top: 4em;
    padding:0;
    background-color:rgba(0, 0, 0, 0.705);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

#elFestivalBajada h2 {
    color: rgb(243, 242, 242);
}


#elFestivalBajada {
    padding-left: 5em;
    color: white;
    max-width: 40%;
    margin-top: 5em;
    margin-bottom: 5em;
}



.imagenFestivalContenedor {
    background-image: url(../imagenes/movimiento03_.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: auto;
    filter: grayscale(100) opacity(85%);

}


#encabezadoFrase {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: .15em solid white;
    border-bottom: .15em solid white;
    padding: .3em 0;
    margin-top: 3em;

}

#encabezadoFrase h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: right;
}

#encabezadoFrase h3:first-child{
    text-align: left;
    
}

.lineaEstrellas {
    background-image: url("../imagenes/estrellablanca.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    width: 13%;
    height: 1.5em;

}

#elFestivalBajada a{
    display: block;
    width: 100%;
    text-align: center;
    padding: .5em 0;
    margin-top: 2em;
    border: .05em solid white;
    color: white;
}

#elFestivalBajada a:hover{
   background-color: black;
}

#elFestivalBajada p:nth-child(4){
    border-top: .1em solid white;
    border-bottom: .1em solid white;
    padding: 1em 0;
    margin-bottom: 1.3em;

}

#datosPie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .1em solid white;
    border-bottom: .1em solid white;
    padding: 0;
    font-size: .9em;

}

#datosPie p{
 margin: 0;
}




.contenedorGris {
    background-color: rgb(226, 226, 226);
    width: 32%;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorGris div:first-child{
 height: 90%;
}


.contenedorGris h2{
   font-size: 1.7vw;
   text-align: center;
   border-top: .02em solid black;
   border-bottom: .02em solid black;
   padding: .5em 0;
   margin: 0;
}

.contenedorData{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   max-height: 4em;
   padding: 0;
 }

 .contenedorGris div img{
    max-width:4em;
    display: block;
}

.contenedorGris div p{
    padding: 1.5em 3em;
}

.contenedorGris h3{
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 2em;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 1em;


}
.contenedorGris p{
    padding: 1em 3em;   
    margin: 0;
}

.estrella {
    background-image: url("../imagenes/estrella_Mesa\ de\ trabajo\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1.2em;
}






.seccionUbicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 9em;
    max-width: 100vw;
}

#veniEncontranos {
width: 40%;
}

.seccionUbicacion .masInfo h3, .seccionUbicacion .masInfo p{
    font-family:'IBM Plex Mono', monospace;
}

.seccionUbicacion .masInfo h3{
  background-size: 1em;
  background-image: url("../imagenes/estrella_Mesa\ de\ trabajo\ 1.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 1.5em;
}

.seccionUbicacion .masInfo {
    max-width: 16%;
}
.seccionUbicacion iframe{
    width: 40%;
    height: 30em;
}

#ubicacion {
    padding: .8em;
    border-top:.05em solid rgba(35, 36, 37);
    background-size: 1em;
  background-image: url("../imagenes/placeholder.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  margin-top: .5em;

}

#ubicacion p{
    padding: .5em 0 .5em 1em;
    border-left:.05em solid rgba(35, 36, 37);
    margin: 0;
    margin-left: 1em;
    font-size: .8em;
}


#telefonoPlanetario {
    padding: 1em;
    background-size: 1em;
  background-image: url("../imagenes/telephone.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  margin-top: .5em;
  font-size: .8em;
}

#telefonoPlanetario a{
    color: rgba(35, 36, 37);
    padding: .5em 0 .5em 1em;
    border-left:.05em solid rgba(35, 36, 37);
    margin-left: 1em;
}





/**el Festival ------------------------------------------------------------------------------------------------------------------------------------------------------
*/




#tituloLandingIzquierda {
    grid-column: 1 /3;
    margin-left: 25%;
}


#cuadradoFestivalUno {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}
#cuadradoFestivalUno img{
    max-width: 100%; 
}

#cuadradoFestivalDos {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}
#cuadradoFestivalDos img{
    max-width: 100%; 
}



#cuadradoFestivalTres img, #cuadradoFestivalCuatro img{
   max-width: 100%;
}

#cuadradoFestivalCuatro {
    grid-column: 4 /5;
    grid-row: 3 / 4;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}


#seccionUnoFestival {
    margin: 0;
    display: grid;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    grid-template-columns: 10% repeat(3, 26.6%) 10%;
    grid-template-rows: 16em repeat(2, 35em);
    grid-row-gap: 2%;
    position: relative;

}

#tituloSeccionUnoFestival {
    grid-column: 2/4;
    grid-row: 1/2;
}

.imagenesFestivalContenedor {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}

.imagenesFestivalContenedor img{
    max-width: 100%;
    filter: grayscale(100);

}


.destacada {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(119, 119, 119);
}


#tituloMovimientoUno {
    grid-column: 1/6;
    grid-row: 2/3;
    align-self: center;
    justify-self: flex-start;
    z-index: -9;
    overflow: hidden;
    max-width: 400%;
}

#supernova {
    grid-column:3/4;
    grid-row: 2/3;
    max-width: 100%;
    overflow: hidden;
}

#secretos {
    grid-column:2/3;
    grid-row: 3/4;
    overflow: hidden;
}


#tituloMovimientoDos {
    grid-column: 1/6;
    grid-row: 3/4;
    align-self: center;
    justify-self: flex-start;
    z-index: -9;
    max-width: 800%;
}

#rayos {
    grid-column:4/5;
    grid-row: 3/4;
    max-width: 90%;
    overflow: hidden;
    align-content: flex-start;
}


#rayosTitulo {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    padding-left: 15%;
    z-index: 9;
}


#imagenManifiesto{
    background-image: url(../imagenes/movimiento05_01}.jpg);
    
}

#contenedorAcreditacion table{
    margin: auto;
    width: 100%;
}




.datos a {
    color: rgb(53, 53, 53);
}


table {
    background: white;
}

th {
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(35, 36, 37);
    position: sticky;
    top: 4.9em;
    z-index: 10;
}

.estrellas li{
  list-style: none;
  background-size: 15px;
  background-image: url("../imagenes/estrella_Mesa\ de\ trabajo\ 1.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 1.5em;
    
}

ol, ul {
    padding: 1rem;
}

.acreditacionTabla tr td {
    padding: 0 1em 1em 1em;
    font-size: .8em;
}


@keyframes titularMovimiento {
    0%{
        transform: translate3d(-1000px, 0, 0);
      }
      100%{
        transform: translate3d(100px, 0, 0);
      }
 }
 
 #tituloMovimientoUno {
    width:6000px;
    animation: titularMovimiento 3.5s linear infinite;
  }

  #tituloMovimientoDos {
    width:6000px;
    animation: titularMovimiento 3.5s linear infinite;
    animation-direction: reverse;
  }

/**Observatorio ------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.iconosFijosSecciones {
  position: fixed;
  top: 5.5em;
  right: 0;
    z-index: 99;
    max-width: 5%;
}
.iconosFijosSecciones img{
      max-width: 100%;
  }
  

#cuadradoObservatoriosUno {
    grid-column: 1/2;
    grid-row: 1 / 3;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoObservatoriosUno img{
  height: 100%;
}



#cuadradoObservatoriosDos {
    grid-column: 2/3;
    grid-row: 3 / 4;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoObservatoriosDos img{
    max-width: 100%;
  }


#cuadradoObservatoriosCuatro {
    grid-column: 2/3;
    grid-row: 4 / 5;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoObservatoriosCuatro img{
    max-width: 100%;
    transform: scaleY(-1);
  }

.imagenTabla {
    max-width: 15em;
    max-height: 15em;
    margin-bottom: 1em;
    margin: auto;
    overflow: hidden;
    
}

.imagenTabla img{
   
    filter:grayscale(100%);
    width: 100%;
    max-width: 100%;

    }

table tr td p{
    color: rgb(53, 53, 53);
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

table tr td{
    padding: 1em;
}
table tr td:first-of-type{
    font-weight: 800;
    text-align: center;
}

table tr td{
    margin: 0;
    border: .05em solid rgba(35, 36, 37);
    }

table tr th {
    padding: 1em;
}

table {
   margin: auto;
}

.acreditacionTabla tr td:last-of-type{
   padding: 1em 1em;

}

.table-dark p{
    color: white;
    font-size: .7em;
  margin: auto;
  text-align: center;
    letter-spacing: .1em;
    border-bottom: .05em solid rgb(211, 211, 211);
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;

}

.table-dark p:first-of-type{
    font-weight: 800;
    margin: 1em auto 0;
    border-top: .05em solid rgb(211, 211, 211);
    border-bottom: none;
    padding-bottom: 0;

}

.table-dark {
--bs-table-bg: #232323;
--bs-table-striped-bg: #2b2b2b;
--bs-table-striped-color: #fff;
--bs-table-active-bg: #373b3e;
--bs-table-active-color: #fff;
--bs-table-hover-bg: #2f2f2f;
--bs-table-hover-color: #fff;
}

/**Workshops ------------------------------------------------------------------------------------------------------------------------------------------------------
*/
#cuadradoWUno {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoWUno img{
    max-width: 100%;

}


#cuadradoWDos  {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoWDos img{
    max-width: 100%;
 }


#cuadradoWCuatro img{
   max-width: 100%;
   transform: scale(-1);

 }

 #cuadradoWCinco {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}

#cuadradoWCinco img{
    max-width: 100%;
 }

 .DADestacados .carta .carta__texto{
     height: 15%;

 }
 




/**Dialogos Astronomicos ------------------------------------------------------------------------------------------------------------------------------------------------------
*/


#buttonAzul:not(.collapsed) {
    background-color:  rgb(49, 77, 238); 
    color: white;
} 
#buttonAzul:not(.collapsed)::after {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#buttonAzul:focus{
    border-color:rgb(49, 77, 238);
    box-shadow: 0 0 0 0.25rem rgb(49, 77, 238, 0.377);
}


/**Contactanos ------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.ratio {
    width: auto;
}

button, input, optgroup, select, text {

    font-size: .8em;
}

#cuadradoContactoUno {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
    filter: grayscale(100);
}


#cuadradoContactoUno img{
    max-width: 100%;
    height: auto;
    filter: opacity(70%);
}


#cuadradoContactoDos  {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    filter: grayscale(100);
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255); 
}

#cuadradoContactoDos  img{
    max-width: 100%; 
    filter: opacity(80%);
}


#cuadradoContactoTres {
    grid-column: 2/ 3;
    grid-row: 3 / 4;
    filter: grayscale(100);
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
}


#cuadradoContactoTres img{
   width: 100%;
   filter: opacity(70%);
}


#cuadradoContactoCuatro {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    filter: grayscale(100);
    overflow: hidden;
    border: .08em solid rgb(255, 255, 255);
}

#cuadradoContactoCuatro img{
    max-width: 100%;
    filter: opacity(80%);
 }
 

#tituloContacto {
    color:white;
    z-index: 999;
    grid-column: 3/ 5;
    grid-row: 1 / 2;
    font-size: 3.5em;
    align-self: flex-end;
    margin-left: 10%;
}


#formContacto {
    grid-column: 3/ 5;
    grid-row: 1 / 5;
    align-self: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 999;


}

#formContacto form {
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 2em 2em;
    z-index: 999;
}

fieldset{
    border: none;
    max-width: 100%;
    margin: 0 auto 2.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.formRecuadro, #motivo, textarea {
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    border: none;
    border-bottom: .01em solid white;
    padding: .7em 0;
    width: 30%;  
    padding-left: 1em;
}

#parteStaff {
    width: 100%;    
    margin-bottom: 2em;
}
::-webkit-input-placeholder { color: rgb(211, 211, 211);} 

:-moz-placeholder { /* Firefox 18- */ color:rgb(211, 211, 211);} 

::-moz-placeholder { /* Firefox 19+ */ color: rgb(211, 211, 211); } 

:-ms-input-placeholder { color:rrgb(211, 211, 211); }

.ratio {
    margin: 0 1em;
}

#ratio {
    margin-right: 2em;
}

textarea {
    width: 63%;
    border: none;
}



#motivo {
    color:rgb(211, 211, 211);
}



    



 

/**RESPONSIVE ------------------------------------------------------------------------------------------------------------------------------------------------------
*/



/**Tablet ----------------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {

h3 {
    font-size: 1em;
}

p, a {
    font-size: .9em;
}


/**Home ----------------------------------------------------------------------------*/

/**landing ----------------------------------------------------------------------------*/

 #homeImage {
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(4,25%);
}

#fondoHome {

    grid-row: 1 / 5;
    grid-column: 1 / 3;

}
#compraEntrada {
    font-size: .8em; 
    bottom: 3em;
    left: 2em; 
 }

#homeImage h1 {
    font-size: 2.5em;
    grid-column: 1 / 3;
    grid-row: 1/3;
    z-index: 10;
    align-self: flex-start;
    justify-self: center;
    margin-top: 4em;
    text-align: center;


}

#lugarPosicion {
    grid-row: 1;
    grid-column: 2;
    margin-left: 0;
    margin-right: 4em;
    margin-bottom: 4em;
    align-self: center;
    justify-self: flex-end;
 }
 
 #edicionPosicion {
     grid-row: 1;
     margin-left: 4em;
     align-self: center;
     justify-self: flex-start;
     margin-bottom: 4em;
 
 }
 
 #imagenPresentacion {
     grid-column: 1 / 3;
     grid-row: 1 / 5;
     max-width: 60%;
     justify-self: center;
     align-self: center;
     overflow: hidden;
    
     
 }

 .datos {
     font-size: .7em;
     writing-mode: horizontal-tb;
     transform: rotate(0deg);
 }

#textoPresentacion {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    border-left: none;
    align-self: flex-end;
    width: 80%;
    border-top: .05em solid white;
    padding-top: .5em;
    margin-top: 0;
    text-align: center;
}


#textoPresentacion p{
   padding-top: .7em;

}

#compraEntrada {
    z-index: 997;
}

/**home ----------------------------------------------------------------------------*/

section {
    margin: 0 5%;
    padding-top: 4em;
    padding-bottom: 2em;
}

.subtitulos__texto{
    font-size: 4vw;
}
#actividadesDestacadas {
  padding-top:4em;
  height: 149vh;
}
.gridDestacadas {
   padding-top: 3em;
   grid-template-columns: 70% 30%;
   grid-template-rows: 60vh 5vh 60vh;
}

.contenedorDestacadas {
grid-column: 1/2;
grid-row: 1/2;
}

.contenedorDestacadasDos {
    grid-column: 1/2;
    grid-row: 3/4;
}

.flip-card {
   width: 100%;
   height: 33%;
   overflow: hidden;

  }

  .flip-card-front{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }


  .flip-card-back {
    padding: 2rem 2rem;
  }


  .tituloActividad {
    font-size: .9em;
  }

  .textoActividad {
      font-size: .8em;
      padding-bottom: 1.5em;
  }


  .datosActividad p{
    font-size: .7em;
    padding: 0;
  }

#numeroCorteUno {
    display: none;
   
}

#numeroCorteDos {
    display: none;
}

.elFestivalHome {
    padding-top: 2em;
    flex-direction: column;
    margin-top: 0;
}

#elFestivalBajada {
    padding-left: 0;
    max-width: 100%;
    margin: 3em 5%;
}

.lineaEstrellas {
    width: 20%;
}

.imagenFestivalContenedor {
    width: 100%;
    height: 20vh;
    background-position: bottom;
    order: 2;
}


#resumenActividadesSection{
    padding: 5em 0 1em 0;
}

#resumenActividades {
    padding: 2em 5%;
    justify-content: space-around;
}
.contenedorGris {
    width: 48%;
    }

.contenedorGris:nth-of-type(3) {
        margin: 3em 0;
}

.contenedorGris div p {
    padding: 1em 2em;
}

.contenedorGris h2{
    font-size: 1.2em;
    }

.contenedorGris h3{
     font-size: 1em;
        }
.contenedorData {
    max-height: 3em;
}
.contenedorGris div img {
    height: 3em;
}
#resumenActividadesSection #actividadesHome, #resumenActividadesSection .subtitulos {
    margin-left: 5%;
}
.seccionUbicacion {
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding-bottom: 9em;
    max-width: 100vw;
}

#veniEncontranos {
width: 100%;
margin-bottom: 3em;
}

.seccionUbicacion .masInfo {
    max-width:26%;
    margin: 0;
}
.seccionUbicacion iframe{
    width: 68%;
}


/**landings general----------------------------------------------------------------------------*/

#pagesImage .gridLandings {
    grid-template-rows: 25vh 25vh 25vh;
    height: 75vh;
}

#pagesImage {
    height: 75vh;
}
#pagesImage .gridLandings img {
    width: auto;
    max-width: 150%;
}

#pagesImage .gridLandings #lugarPosicionO {
    grid-row: 1;
    grid-column: 3/5;
    margin-left: 0;
    margin-right: 4em;
    margin-bottom: 0;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 25%;
 }
 
 #pagesImage .gridLandings  #lugarEdicionO{
     grid-row: 1;
     margin-left: 4em;
     align-self: flex-start;
     justify-self: flex-start;
     margin-bottom: 0;
     margin-top:50%;
 
 }
 #pagesImage .gridLandings  #festivalPosicion{
    grid-column: 3/5;
    grid-row: 3/4;
    margin-right: 3em;
    z-index: 99;
 }

.tituloLanding{
   grid-column: 1/5;
   grid-row: 1/3;
   align-self: flex-start;
   margin: 0 15%;
   margin-top: 25%;
 
}

#tituloLandingIzquierda{
    grid-column: 1/5;
    grid-row: 1/3;
    align-self: flex-start;
   margin: 0 15%;
   margin-top: 25%;
 }
 .tituloLanding__titulo {
     font-size: 5vw;
 }
 .tituloLanding__bajada{
     margin-top: 2em;
 }


/**el festival----------------------------------------------------------------------------*/

#cuadradoFestivalUno {
    grid-column: 1/ 3;
    grid-row: 3 / 4;
}
#cuadradoFestivalUno img{
    max-width: 100%; 
}

#cuadradoFestivalDos {
  display: none;
}

#cuadradoFestivalTres img, #cuadradoFestivalCuatro img{
   height: 100%;
}

#cuadradoFestivalCuatro {
    grid-column: 4 /5;
    grid-row: 3 / 4;
}


#seccionUnoFestival {
    grid-template-columns: 5% repeat(3, 30%) 5%;
    grid-template-rows: 15% repeat(2, 41.5%);
    margin-bottom: 2em;

}

#tituloSeccionUnoFestival {
    grid-column: 2/5;
}

.destacada {
    font-size: 4rem;
}


#tituloMovimientoUno {
    max-width: 800%;
}
table tr th {
    top: 0;
}

.tableContainer {
    max-width: 100%;
    overflow: scroll;
}
.tableContainer th:nth-of-type(2){
    padding:0 5%;

}
.tableContainer th:nth-of-type(4){
    padding:0 10%;

}

/**observatorio----------------------------------------------------------------------------*/

.iconosFijosSecciones {
    position: fixed;
    top: 4em;
    right: 0;
      z-index: 99;
      max-width: 10%;
  }
  .iconosFijosSecciones img{
        max-width: 100%;
    }
    
  
  
  #cuadradoObservatoriosUno {
      grid-column: 1/2;
      grid-row: 3/ 4;
      overflow: hidden;
      border: .08em solid rgb(255, 255, 255);
      filter: grayscale(100);
  }
  
  
  
  
  #cuadradoObservatoriosDos {
      grid-column: 2/3;
      grid-row: 3 / 4;
      width: 100%;
      height: 50%;
      align-self: flex-end;
  }
  
  
  #cuadradoObservatoriosCuatro {
      grid-column: 3/4;
      grid-row: 3/ 4;
      width: 100%;
      height: 50%;
  }


  table tr td:first-of-type{
      font-weight: 800;
      text-align: center;
      font-size: .8em;
  }
  

  .table-dark p{
      font-size: .6em;
  }
  
  .table-dark p:first-of-type{
      font-weight: 800;
      font-size: .8em;
  
  }

/**workshop ----------------------------------------------------------------------------*/

  #cuadradoWUno {
      grid-column: 1/2;
    grid-row: 3 / 4;
    width: 100%;
    height: 50%;
    align-self: flex-end;
  
}

#cuadradoWDos  {
    grid-column: 3/4;
    grid-row: 3 / 4;
}


 #cuadradoWCinco {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    height: 50%;
   
}


/**dialogos ----------------------------------------------------------------------------*/

#pagesImage .gridLandings #cuadradoDAUno {
    grid-column: 4/5;
    grid-row: 3/4;
    height: 80%;
    align-self: flex-end;
}

#pagesImage .gridLandings #cuadradoDADos  {
    grid-column: 1 /2;
    grid-row: 3/4;
    height: 80%;
    align-self: flex-end;
}

#pagesImage .gridLandings #cuadradoDATres {
    grid-column:  2/3;
    grid-row: 3/4;
    height: 80%;
    align-self: flex-end;
 }

.carta{
    width: 31%;
    max-width: 31%;
    justify-content: space-evenly;
}
.carta__img{
    height: 27vh;
 }

 .carta__titulo{
    font-size: .9em;
 }

 .carta__texto{
    font-size: .8em;
 }

 .carta__datos{
    font-size: .7em;
 }
 
.carta .estrella {
    height: 1em;
}
.todasActividades #accordionExample .accordion-collapse .accordion-body {
    font-size: .9em;
}
.accordion-button, .accordion-button:not(.collapsed) {
    font-size: 1rem;
}

/**Contacto ----------------------------------------------------------------------------*/

#cuadradoContactoUno {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: none;
}

#cuadradoContactoDos  {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: none;
}


#cuadradoContactoTres {
    grid-column: 2/ 3;
    grid-row: 3 / 4;
    display: none;
}

#cuadradoContactoCuatro {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    display: none;
}


#tituloContacto {
    grid-column: 1/ 5;
    grid-row: 1 / 2;
    font-size: 5vw;
    align-self: flex-start;
    margin-top: 20%;
    z-index: 100;
}


#formContacto {
    grid-column: 1/ 5;
    grid-row: 1 / 4;
    z-index: 9;


}

#formContacto form {
    padding: 2em 2em;
    z-index: 9;
    background-color: rgba(14, 14, 14, 0.98);
}
.botonesForm__boton{
    margin-top: 2em;
}


}




/**Tablet horizontal ----------------------------------------------------------------------------*/

@media only screen and (min-width: 1000px) and (max-width: 1200px){
    #imagenPresentacion {
        max-width: 40%;
        
    }

    #homeImage h1 {
        margin-top: 3em;
    }

    #actividadesDestacadas {
        height: 180vh;
      }
      .gridDestacadas {
         padding-top: 3em;
         grid-template-rows: 70vh 5vh 70vh;
      }
/**landings ----------------------------------------------------------------------------*/

      #pagesImage .gridLandings {
        grid-template-rows: 33vh 33vh 34vh;
        height: 100vh;
    }
    
    #pagesImage {
        height: 100vh;
    }

    .tituloLanding{
        margin-top: 15%;
     }
     
     #tituloLandingIzquierda{
        margin-top: 15%;
      }
      #pagesImage .gridLandings #lugarPosicionO {
        margin-top: 20%;
     }
     
     #pagesImage .gridLandings  #lugarEdicionO{
         margin-top: 40%;
     
     }

     #tituloContacto {
        margin-top: 13%;
    }

    .iconosFijosSecciones {
        max-width: 8%;
        top: 4em;
    }


    #elFestivalBajada {
        margin-bottom: 2em;
    }

    .imagenFestivalContenedor {
        height: 40vh;
    }


    .tableContainer th:nth-of-type(4){
        padding:0 20%;
    
    }
}


/**Celular ----------------------------------------------------------------------------*/

@media only screen and (max-width: 720px) {

/**Home ----------------------------------------------------------------------------*/


   #homeImage h1 {
       font-size: 7vw;  
       grid-row: 1/3 ;
       align-self: center;
       margin-top: 1em;
   }
   
   #lugarPosicion {
       margin-left: 0;
       margin-right: 2em;
       margin-bottom: 0;
    }
    
    #edicionPosicion{
        margin-left: 2em;
        margin-bottom: 0;
    
    }
    
    #imagenPresentacion {
        max-width: 85%;       
    }
   
    .datos {
        font-size: .5em;
    }
   
   #textoPresentacion {
       columns: 1/2;
       height: 100%;
       overflow: hidden;
       align-self: flex-start;
       max-width: 100%;
       margin-top: 7%;
       padding-left: 0;
   }
   
   #textoPresentacion h3{
       font-size: 1em;
   }
   #textoPresentacion p{
      padding-top: .7em;
      font-size: .8em;
   }
   
  .subtitulos__texto {
       
       font-size:7.5vw;
    }
   
    .subtitulos__linea {
       width: 4em;
   
   }
   
   section {
       margin: 0 5%;
       padding-top: 3em;
    }

    .subtitulos {
        padding-top: 2em;
    }
   
   #actividadesDestacadas {
       padding-top: 2em;
       height: auto;
   }

   .gridDestacadas {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    height: auto;
 }
 
 
 
 .contenedorDestacadas {
 order: 2;
 }
 
 
 #asideDos {
    width: 100%;
    max-width: 100%;
    font-size: .9em;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 1em;

}
#listaWrap li{
   display: inline-block;
   width: 49%;
}

#listaWrap{
    padding-bottom: 0;
 }
 .estrellas li {
     background-position-y: top;
     font-size: .9em;
 }
 .masInfo ul {
padding: 1em 0 0 0;
}

#asideUno {
    width: 100%;
    max-width: 100%;
    font-size: .9em;
    margin: 0;
    margin-bottom: 1em;

}

 .flip-card {
    width: 100%;
    height: 34vh;
    overflow: hidden;
    margin: .5em 0;
   }
 
   .flip-card-front{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
 
 
   .flip-card-back {
     padding: 1em 1em;
     font-size: .9em;
   }
 
 
   .tituloActividad {
     font-size: .9em;
   }
 
   .textoActividad {
       font-size: .8em;
       padding-bottom: 1.5em;
   }
 
 
   .datosActividad p{
     font-size: .7em;
     padding: 0;
   
 
   }
 

   .elFestivalHome {
       margin-top: 2em;
       flex-direction: column;
   }
   
   #elFestivalBajada {
       padding-left: 0;
       max-width: 100%;
       margin-top: 1em;
       margin-left: 5%;
       margin-right: 5%;
   }

   #elFestivalBajada h3{
 font-size: 1.2em;
 width: auto;
 margin: 0;
}


.lineaEstrellas{
    max-width: 10%;
    background-repeat: no-repeat;
    position: center;
   }

   #elFestivalBajada #datosPie p{
       font-size:.8em;
       letter-spacing: .04em;
   }

 

#resumenActividadesSection {
    padding: 3em 0;
}

   #resumenActividades {
       padding: 0;
       padding-bottom: 3em;
   }
   .contenedorGris {
       width: 100%;
       margin: 0;
       padding: 0;
       }
   
       .contenedorGris:nth-of-type(1) {
        margin-top: 2em;  
}

   .contenedorGris:nth-of-type(2) {
           margin: 3em 0;
       
   }

   .contenedorGris:nth-of-type(3){
    margin: 0;  
   }
   .contenedorGris h2{
    font-size: 1.3em;
    }

    .contenedorGris h3{
        font-size: 1em;
        }

    .contenedorGris div p:nth-child(5){
        padding: 0 5%
            }

    .datosDos{
        font-size:.8em;
        }

   .seccionUbicacion {
        padding-top: 2em;
       padding-bottom: 5em;
  
   }
   
   #veniEncontranos {
   width: 100%;
   margin-bottom: 2em;
   }
   
   .seccionUbicacion .masInfo {
       max-width:100%;
       margin: 0;
       margin-top: 2em;
   }
   .seccionUbicacion iframe{
       width: 100%;
   }
 
/**landings general----------------------------------------------------------------------------*/

#pagesImage .gridLandings {
    height: auto;
    grid-template-rows: repeat(3, auto);
}

#pagesImage {
    height: auto;
    max-height: auto;
}

#pagesImage .gridLandings #fondoHome {
    height: auto;
}


 #pagesImage .gridLandings  #festivalPosicion{
    grid-column: 1/5;
    height: auto;
    max-height: auto;
 }

#tituloLandingIzquierda{
    margin: 0 auto;
    margin-top: 40%;
    width: 85%;
 }
 .tituloLanding{
     margin: 0 auto;
     margin-top: 40%;
    width: 85%;
 }

 .tituloLanding__titulo {
     font-size: 8vw;
 }
 .tituloLanding__bajada{
     margin-top: 1em;
     padding-top: 1em;
     font-size: 1.1em;
 }

 #pagesImage .gridLandings #lugarPosicionO {
    margin-top: 50%;
 }
 
 #pagesImage .gridLandings  #lugarEdicionO{
     margin-top: 100%;
 
 }
 #pagesImage .gridLandings #festivalPosicion{
 font-size: .5em;
}
/**el festival----------------------------------------------------------------------------*/

#cuadradoFestivalUno {
    display: none;
}

#cuadradoFestivalDos {
  display: none;
}

#cuadradoFestivalCuatro {
    display: none;
}

#seccionUnoFestival {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 20vh repeat(2, 25vh);
    row-gap: 2%;
    padding-top: 5rem;

}
.subtitulos__texto {
    margin-right:5%;
}

#tituloSeccionUnoFestival {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-left: 5%;
    padding:0;
}


.destacada {
    font-size: 2rem;
}


#tituloMovimientoUno {
    grid-column: 1/4;
    max-width: 600%;
}

#supernova {
    grid-column:2/3;
    max-width: 100%;
}

#secretos {
    grid-column:1/2;

}


#tituloMovimientoDos {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 600%;
}

#rayos {
    grid-column:3/4;
    max-width: 100%;
}


#rayosTitulo {
    grid-column: 1/3;
}

#seccionAcreditacion{
    padding-top: 3em;
}

   .tableContainer{
        max-width: 100%;
        height: auto;
        overflow: scroll;

    }

    .tableContainer th{
        position: none;
        top:0;

    }

    dl, ol, ul {
      margin-bottom: 0;

  }
    .tableContainer th:nth-of-type(2){
        padding:0 10%;

    }
    .tableContainer th:nth-of-type(4){
        padding:0 10%;

    }


    #elFestivalBajada h3 {
        font-size: 1em;
    }
    
/**observatorio----------------------------------------------------------------------------*/

.iconosFijosSecciones {
    position: fixed;
    top: 4em;
    right: 0;
      z-index: 99;
      max-width: 15%;
  }
  .iconosFijosSecciones img{
        max-width: 100%;
    }
    
    .bajada {
        font-size: .9em;
        line-height: 1.7em;
    }
  
  #cuadradoObservatoriosUno {
      display: none;
  }
  
  
  #cuadradoObservatoriosDos {
    display: none;
  }
  
  
  #cuadradoObservatoriosCuatro {
    display: none;
  }


  table tr td:first-of-type{
      font-size: .8em;
  }
  

  .table-dark p{
      font-size: .6em;
  }
  
  .table-dark p:first-of-type{
      font-weight: 800;
      font-size: .8em;
  }


  #tablaObservatorio th{
   padding: 1em 0;

  }
  #tablaObservatorio th:first-child{
    padding: 1em 0;
   }

  #tablaObservatorio {
      height: auto;
  }
  
.imagenTabla {
    width: 10em;
    height: 10em;
    
}

#tablaObservatorio p{
  
    line-height: 1em;
    font-size: .6em;
}


/**dialogos----------------------------------------------------------------------------*/

#pagesImage .gridLandings #cuadradoDAUno {
    display: none;
}

#pagesImage .gridLandings #cuadradoDADos  {
    display: none;
}

#pagesImage .gridLandings #cuadradoDATres {
  display: none;
 }

 #destacadas .DADestacados {
        flex-direction: column;
        max-width: 100%;
        justify-content: space-between;
        margin-top: 1em;
    }

 .carta{
     width: 100%;
     max-width: 100%;
 }

 .carta:nth-of-type(2){
    margin: 3em 0;
}


.carta__img{
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .todasActividades{
   padding-top: 2em;
 }

/**workshop ----------------------------------------------------------------------------*/

#cuadradoWUno {
  display: none;

}

#cuadradoWDos  {
    display: none;
}


#cuadradoWCinco {
  display: none;
 
}


/**Contacto ----------------------------------------------------------------------------*/
#pagesImage #contactoLanding, #pagesImage #contactoLanding #fondoHome  {
height: 100vh;
}


#cuadradoContactoUno {
  display: none;
}

#cuadradoContactoDos  {
    display: none;
}


#cuadradoContactoTres {
    display: none;
}

#cuadradoContactoCuatro {
    display: none;
}

#pagesImage  #contactoLanding #festivalPosicion{
    margin: 0;
    margin-bottom: 2em;
    margin-right: 3em;
    grid-row: 5/6;
}

#tituloContacto {
    font-size: 8vw;
    align-self: flex-start;
    margin: 0 auto;
    margin-top: 35%;
}

#formContacto {
    margin: 0 5%;
   align-self: flex-end;
   margin-bottom: 1.5em;
   grid-row: 1/6;

}

#formContacto form {
    padding: 1em 1em;
    font-size: .8em;
}

fieldset {
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 auto 1.5em auto;
}
#formContacto  #parteStaff {
    font-size: 1.2em;
    margin-bottom: 0;
}
#formContacto  label {
    font-size: 1em;
}
#ratio {
    margin-right: 1em;
    
}
.formRecuadro, #motivo, textarea {
    width: 100%;
    font-size: .9em;
    margin: .5em 0;
}


.botonesForm__boton{
   padding: auto 2em;
    margin-top: 2em;
}

.botonesForm{
    text-align: center;
}
.ratio{
    margin: 0 .5em;
}

}
   



   @media  (min-width: 720px) and (max-width: 1200px) {

        #asideDos {
            grid-column: 2/3;
            grid-row: 3/4;
            justify-self: center;
            align-self: flex-start;
            max-width: 100%;
            font-size: .9em;
        
        }

        #asideUno {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: center;
            align-self: flex-start;
            max-width: 100%;
            font-size: .9em;
        
        }    


}


@media screen and (max-width: 480px) {
    [data-aos-delay] {
      transition-delay: 0s !important;
    }
  }