# HTID:17401333: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17401333:

ErrorDocument 404 https://josefina0608.github.io/Novafestival/404.html
